---
name: DuoMus
version: v0.0.1
slug: duomus
description: DuoMus support tools
url: https://github.com/focusware-develop/addon-duomus
startup: services
panel_icon: mdi:temperature-celsius
init: false
arch:
  - aarch64
  - amd64
host_network: true
host_dbus: true
privileged:
  - SYS_ADMIN
  - SYS_RESOURCE
  - NET_ADMIN
  - NET_RAW
  - BPF
map:
  - homeassistant_config:rw
  - addon_config:rw
options:
  ipaddress: ""
schema:
  ipaddress: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
